

h1 {
    display: flex;
    justify-items: center;
}

.context {
    color: rgb(135, 185, 255);
    margin: 600px 150px 100px;
    border: rgba(162, 195, 241, 0.5) solid 3px;
    padding: 20px 80px 80px;
    background: rgba(0, 0, 0, 0.377);
}

.context_text {
    color: rgba(136, 186, 255, 0.521);
    font-size: 12px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
}

.general_text {
    font-size: 18px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
}